@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary: #46B3A5,
  --secondary: #FE4773,
  --tertiary: #F6D68D,
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.CircularProgressbar-text {
  transform: translate(-15px, 5px);
}